<!DOCTYPE html>
<html>
<body style="background-color:#F4F6F7;">

<h2>Live Traffic Data</h2>

<p>
<b>Origin</b><br>
myOrigin
</p>

<table style="width:100%">
<tr>
	<th align="left">Destination</th>
	<th align="left">Distance</th>
	<th align="left">Status</th>
	<th align="left">Live Duration</th>
</tr>
<tr>
	<td>dst1</td>
	<td>99 km</td>
	<td>OK</td>
	<td>
      <span style="color:Green">58m0s</span> (2m faster than usual)
	</td>
</tr>
<tr>
	<td>dst2</td>
	<td>99 km</td>
	<td>OK</td>
	<td>
      <span style="color:Green">1h0m0s</span> (the usual traffic)
	</td>
</tr>
<tr>
	<td>dst3</td>
	<td>99 km</td>
	<td>OK</td>
	<td>
      <span style="color:Orange">1h1m0s</span> (1m slower than usual)
	</td>
</tr>
<tr>
	<td>dst4</td>
	<td>99 km</td>
	<td>OK</td>
	<td>
      <span style="color:Red">1h11m0s</span> (11m slower than usual)
	</td>
</tr>
</table>

<p>
<b>Updated</b><br>
Sat Jun  1 12:00:00 CEST 2019
</p>

</body>
</html>
